.inputField {
    margin: auto;
    max-width: 650px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.imageWrapper {
    padding: 0 20px;
}

.imageContent {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    @media (max-width: 800px) {
        flex-direction: column;
    }
}

.inputField {
    padding: 0 10px;
    display: flex;

}

.imageArea {

    @media (max-width: 800px) {
        width: 100%;
        height: auto;
        margin-bottom: 15px;
    }

    &:empty {
        display: none;
    }


}

.imageResult {
    padding: 30px;

    @media (max-width: 800px) {
        width: 100%;
        padding: 0;
    }



}

.button {

    padding: 8px 26px;
    font-size: 18px;
    background: #3c3d37;
    color: #fff;
    display: inline-block;
    border: 0;
    border-radius: 0;
    cursor: pointer;
    outline: none;
}