#form-file-upload {
    height: 12rem;
    width: 16rem;
    max-width: 100%;
    text-align: center;
    position: relative;
    margin-top: 30px;
}

#input-file-upload {
    display: none;
}

#label-file-upload {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-width: 2px;

    border-style: dashed;
    border-color: #ced3d8;
    background-color: #f0f1f3;
}

#label-file-upload.drag-active {
    background-color: #ffffff;
}

.upload-button {
    cursor: pointer;
    padding: 0.25rem;
    font-size: 1rem;
    border: none;
    font-family: 'Oswald', sans-serif;
    background-color: transparent;
}

.upload-button:hover {
    text-decoration-line: underline;
}

#drag-file-element {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}


.text-area-container {
    background-color: #ffffff;
    overflow-x: scroll;
    white-space: nowrap;
    text-align: justify;
    margin-top: 40px;
}

.text-area-container::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: #f9f9fd;
}

.text-area-container::-webkit-scrollbar-thumb {
    border-radius: 0px;
    background-color: #6d6c6d;
}

.text-area-container::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
    border-radius: 0px;
    background-color: #f9f9fd;
}